

.img-div {
  img {
    width: 100%;
  }
}


.container-upload{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;

    mat-card{
      
    }
    mat-icon{

    }
}